.globalContainer{
    text-align: center;
}
.newNGOtitle{
    text-align: center;
}
.newNGOSubtitle1{
    text-align: center;
}
.newNGOSubtitle2{
    text-align: center;
}
.submissionForm{
    text-align: center;
}
.emailInput{
    margin: 5px;
}
.emailInput:focus{
    background-color: lightcyan;
    padding: 2px;
}
.passwordInput{
    margin: 5px;
}
.passwordInput:focus{
    background-color: lightcyan;
    padding: 2px;
}
.nameInput{
    margin: 5px;
}
.nameInput:focus{
    background-color: lightcyan;
    padding: 2px;
}
.addressInput{
    margin: 5px;
}
.addressInput:focus{
    background-color: lightcyan;
    padding: 2px;
}
.submitButton {
    background-color: orange;
    color: cornsilk;
    margin: 5px;
  }
  