.globalDiv{
    text-align: center;
}
.emailInput {
    margin: 5px;
  }
  
  .emailInput:focus {
    background-color: lightcyan;
    padding: 2px;
  }

  .submitButton {
    background-color: darkgray;
    color: white;
    margin: 5px;
  }