.textFieldInput {
    margin: 5px;
  }
  
  .textFieldInput:focus {
    background-color: lightcyan;
    padding: 2px;
  }
  
  .submitButton {
    background-color: darkgray;
    color: white;
    margin: 5px;
  }

  .globalDiv{
    text-align: center;
  }

  .genericLabel{
    justify-content: center;
    display: flex;
    
  }
  .genericForm{
    justify-content: center;
    display: flex;
  }