.correoBox {
  position: relative;
  text-align: center;
}

.globalLogin {
  text-align: center;
}

.correoInput {
  margin: 5px;
}

.correoInput:focus {
  background-color: lightcyan;
  padding: 2px;
}

.passInput {
  margin: 5px;
}

.passInput:focus {
  background-color: lightcyan;
  padding: 2px;
}

.submitButton {
  background-color: orange;
  color: cornsilk;
  margin: 5px;
}
