@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#root {
  font-family: 'Irish Grover';
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  margin: 0 auto;
}
