.contact-input {
    margin-top: .5rem;
    width: 50%;
}

.submit-btn {
    margin-top: 0.5rem;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}

.contact-card {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 70%;
}