.name {
  text-align: center;
}
.addButton {
  color: black;
  padding: 10px;
  background-color: yellowgreen;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
}
.buttonContainer {
  text-align: center;
}
