.createBox {
  text-align: center;
}

.NGOButton {
  color: black;
  padding: 10px;
  background-color: yellowgreen;
  border-radius: 15px;
  margin: 10px;
}

.AdoptantButton {
  color: black;
  padding: 10px;
  background-color: yellowgreen;
  border-radius: 15px;
  margin: 10px;
}
